@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300&display=swap');

@font-face {
	font-family: SourceCode300;
	src: url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300&display=swap')
}

html * {
	font-family: SourceCode300;
}
body {

}

#container {
	margin: 0 auto;
	width: 50%;
}